@import "tailwindcss";

/* palette focus  */

#UI {
  transition: opacity 0.1s ease-in-out;
}

body.canvas-active #UI {
  opacity: 0.15;
}

body.canvas-active #UI * {
  pointer-events: none !important;
}
